*{
    margin: 1;
    padding: 0;

}
html{
    background-color: rgb(205, 216, 224);
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: rgb(7, 8, 8);
    align-items: center;
}

.logo{
    display: flex;
}

.logo img{
    width: 340px;
    height: 250px;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(7, 6, 6);
    font-size: 1.7cm;
    color: aliceblue;
    text-shadow: 0 -1px 0 rgb(75, 37, 37), 0 -2px 0 rgb(100, 37, 37), 0 -2px 0 rgb(67, 143, 48), 0 4px 0 rgb(110, 100, 131), 0 5px 0 #a7d364, 0 6px 1px rgba(41, 10, 10, 0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(255, 5, 5, 0.25), 0 10px 10px rgba(110, 47, 47, 0.2), 0 20px 20px rgba(0,0,0,0.15);
    margin:50px;
}

.menu{
    width: 700px;
    height: 50px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style: none;
}

.lista > li{
    float: left;
}

.lista li a{
    background-color: black;
    color: rgb(234, 232, 236);
    text-decoration: none;
    padding: 25px 62px ;
    display: block;
    margin: 1px;
    
}


.lista li a:hover{
    background-color: rgb(42, 165, 69);
}

.lista li ul{
    display: none;
    position: absolute;
    min-width: 50px;
}

.lista li:hover > ul{
    display: block;
}

.lista li ul li{
    position: relative;
}

h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5cm;
    text-shadow: 4px 4px 4px;
}

.historia{
    text-align: justify;
    background-color: rgb(209, 209, 199);
    height: 101%;
    width: 80%;
    margin: auto;
    font-size: 20px;
}

.imagenes img{
    width: 50%;
    height: 60%;
    margin: 30px;
    border: 3px solid rgb(28, 11, 90) ;

}
.australia{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img:hover{
    opacity: .6;
    transition:1s; 
}


caption{
    font-size:38px;
    color: #5d8eb1;
    text-shadow: -3px -3px 3px;
    margin: 28px;
    
}



table{ 
    margin: 10px;
    table-layout:auto;
    width: 70%;
    background-color: rgb(57, 124, 102);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}

td{
    border: 1.8px solid rgb(22, 34, 10);
    font-weight: bold;
    padding: 8px;
    color: rgb(252, 236, 236);

}

.tabla{
    background-color: rgb(6, 8, 10);

}

footer{
    font-size: 150%;
    margin: 30px;
}

footer img{
    height: 3%;
    width: 3%;

}