.L3d{
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: 0 1px 0 rgb(233, 113, 113), 0 2px 0 rgb(128, 25, 25), 0 3px 0 rgb(57, 243, 10), 0 4px 0 rgb(91, 20, 223), 0 5px 0 #a7d364, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    text-align: center;
    background-color: rgb(81, 91, 182);
    margin: 10px 0px 0px 10px;
}
.menu{
    background-color:rgb(64, 138, 207);
    text-align: center;
}

.menu li{ 
    display: inline-block;
    text-align: center;
}



.menu a{
    color: antiquewhite;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.menu a:hover{
    background-color: rgb(72, 75, 83);
    font-size: x-large;
    text-align: center;
}

.lista > li a:hover{
    background-color: rgb(120, 44, 155);
    font-size: x-large;
}

.lista li ul{
    display: none;
    position: relative;
    min-width: 120px;
}

.lista li:hover > ul{
    display: block;
}



ul{
    list-style: none;
    text-align: center;
}




.imagen img{
    width: 500px;
    height: auto;
    display: block; 
    margin: auto;
    /* border-radius: 25px; Redonceado las esquinas */
    /* somb-x | somb-y | desenf-radio | color */
    box-shadow: 5px 5px 0 rgb(0, 0, 0);
    border: 3px solid #000;
    margin-top: 10px;
}
.letra{
    font-family: Arial Black; 
    font-weight: bold;
    font-size: 30px; 
    color: #fff;
    /* somb-x | somb-y | desenf-radio | color */
    text-shadow: -3px 0 rgb(15, 10, 10), 0 3px rgb(30, 18, 18), 3px 0 rgb(137, 131, 131), 0 -3px rgb(114, 110, 110);
margin: 2%;
}

.p {
    font-size: medium; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
    text-align: justify;
    background-color: rgb(189, 205, 209);
}
.diseño{
    font-family: Arial rgb(0, 0, 0); 
    font-weight: bold;
    font-size: 30px; 
    color: rgb(231, 231, 231);
    /* somb-x | somb-y | desenf-radio | color */
    text-shadow: -3px 0 rgb(15, 10, 10), 0 3px rgb(30, 18, 18), 3px 0 rgb(98, 93, 93), 0 -3px rgb(96, 96, 96);
margin: 2%;
}
table{
    width: 80%;
    /* Unir las líneas */
    border-collapse: collapse;
    /* Para separar las lineas */
    border-spacing: 5px;
    margin: auto; 
}

tr,td{
    width: 20%;
    border: 3px solid rgb(32, 30, 30);
    text-align: center;
}


.encabezado{
    font-style: italic;
}
