*{
    margin: 0;
}

html{
    background-color:lightblue;
}

.central{
text-shadow: 0 1px 0 rgb(233, 113, 113), 0 2px 0 rgb(128, 25, 25), 0 3px 0 rgb(57, 243, 10), 0 4px 0 rgb(91, 20, 223), 0 5px 0 #a7d364, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    text-align: center;
    color: navy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu a:hover{
    background-color:rgb(130, 28, 81);
    font-size:large;
}

.menu{
    background-color:rgb(200, 115, 200);
    text-align: center;
    margin: 10xpx;
}

.menu li{
    display:inline-block
}

.menu a{
    padding: 30px;
    color: rgb(6, 6, 6);
    text-decoration: none;
    display: block;
}

.titulo{
    text-align: center;
    text-decoration:underline;

}

.parrafo{
    background-color:azure;
    text-align: justify;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.foto{
    margin: 100px;
    border: 2px solid rgb(14, 39, 150);
}

caption{
    font-size: 20px;
    color: #130227;
    caption-side: top;
}
table{
    table-layout: auto; width:50%;
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    font-family: monospace;
}

.cabeza td{
    background-color:coral;
    color: navy;
    
}

td, tr{
    background-color: beige;
    width: 25%;
    text-align: center;
    border: 0.5px solid  rgb(65, 5, 102);
    padding: 2px;
}

footer img{
    width: 30px;
    height: 30px;
}
