*{
    margin: 0;
}

html{
    background-color: rgba(159, 97, 97, 0.022);
}

.menu{
    background-color:coral;
    text-align: center;
    margin: 0px;
}

.menu li{
    display:inline-block
}

.menu a{
    padding: 30px;
    color: brown;
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background-color: rgb(186, 186, 186);
    font-size: small;
}

.central{
    background-color: rgb(176, 196, 210);
    color: blue;
    text-align: center;
    overflow: hidden; /*Quitar el espacio sup. */
    padding: 50px;
}

.contorno{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff;
    /* somb-x | somb-y | desenf-radio | color */
    text-shadow: -1px -3px rgb(245, 9, 9), 0 1px rgb(188, 19, 19), 1px 0 rgb(255, 140, 140), 0 -1px #000;
}

.neon{
    text-align: center; 
    font-family: Arial; 
    font-size: 30px; 
    COLOR: #1278BF; 
    text-shadow: 0px 0px 10px #a4c416;
}

.l3d{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    
}

.foto{
    width: 350px;
    height: 250px;
    margin: auto;
    
    
    /* background-color: #a4c416; */
}


.foto img{
    width: 100%;
    height: 100%;
/* la imagen se ajusta al contenido */
    object-fit: contain;
    /* mover la imagen dentro del contenido */
    object-position: 10px 10px 10px 10px; 
    }

caption{
    font-size: 20px;
    color: #1278BF;
    caption-side: top;
}
table{
    /* cambiar el tamaño de las columnas */
    /* table-layout: auto; width:50%; */
    /* Ajustar el texto a la celda */
    /* table-layout:fixed; width: 30%; */
    width: 50%;
    margin: 0 auto;
    /* border-spacing: 0; */
    border-collapse: collapse;
}

.cabeza td{
    background-color: #a4c416;
    color: navy;
}

td, tr{
    width: 25%;
    text-align: center;
    /* dotted, dashed, solid */
    border: 0.5px dashed red;
    padding: 2px;
    
}

footer img{
    width: 20px;
    height: 20px
    ;

}
