
html{
    background-color:rgb(27, 200, 197)
}

.central{
    background-color: grey ;
    text-align:center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 35px 35px 0px 35px;
}
.menu{
    background-color: rgb(192, 113, 235);
    text-align: center;
    margin: 0px;
}

.menu li{
    display:inline-block;
}

.menu a{
    padding: 35px;
    color: rgb(27, 1, 30);
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background-color: rgb(217, 20, 20);
    font-size: x-large;
}

.foto{
    
    width: 500px;
    height: 300px;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 10px 20px;
}

caption{
    font-size: 40px;
    color: rgb(68, 3, 125);

}
table{
    table-layout:auto; width: 50%;
    table-layout: fixed; width: 30%;
    margin: 0 auto;
    border-collapse: collapse;
}

th{
    background-color: rgb(76, 158, 14) ;
}


td, tr{
    width: 50%;
    text-align: center;
    border: 1px dashed rgb(247, 4, 4);
    padding: 2PX;
}


